SImple_Telegram_Bot.json
{
  "name": "SImple_Telegram_Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "07d031e3-83ae-4bf6-9a63-74d8289814cd",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        336,
        -80
      ],
      "webhookId": "9c8b833c-7aa7-430d-8fc0-47936f695ddf",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "5yK1o3mERKD4I7sl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Respond to this as a helpful assistant with emojis: {{ $json.message.text }}",
        "options": {}
      },
      "id": "0f2e43af-1c71-4b65-941e-6a8f9b8592ea",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        576,
        -80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8eaab516-33a4-4a57-8345-9fc7754ef979",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        944,
        -80
      ],
      "typeVersion": 1.1,
      "webhookId": "a4616600-75b5-4af8-b8c1-5084e0244541",
      "credentials": {
        "telegramApi": {
          "id": "5yK1o3mERKD4I7sl",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        128
      ],
      "id": "8c4a67e7-c0a9-4a4a-882a-a68a2fb9320b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "cL6IXDbOghDFbSYT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9d45100a-aa2d-4494-bddf-1819dfa78f18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f4fbc9f7bca32bebbe3ed8238476e90d647868cf3a9de4ccc2cc0beabdbe6e7"
  },
  "id": "AmvQgnjVfKKuzN8a",
  "tags": []
}